/* index.css */
.typing-container {
  display: block;
  position: relative;
  min-width: 1ch;
  padding-right: 0.5rem;
}

.typing-container .cursor {
  display: inline-block;
  width: 3px;
  position: absolute;
  bottom: 0;
  margin-left: 2px;
  animation: blink 1.5s infinite;

}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}